{% extends "email/template1/base.html" %}
{% block body %}
<body>
<div style="width:100%!important;background-color:#ececec;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ececec">
    <tbody><tr style="border-collapse:collapse">
        <td align="center" bgcolor="#ececec" style="border-collapse:collapse">
            <table width="640" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="border-collapse:collapse"><td width="640" height="20" style="border-collapse:collapse"></td></tr>

                <tr style="border-collapse:collapse">
                    <td width="640" style="border-collapse:collapse">
                        <table width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#425470" style="border-radius:6px 6px 0px 0px;background-color:#556c90;color:#d9fffd">
    <tbody><tr style="border-collapse:collapse">
        <td width="15" style="border-collapse:collapse"></td>
        <td width="350" valign="middle" align="left" style="border-collapse:collapse">
            <table width="350" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="border-collapse:collapse"><td width="350" height="8" style="border-collapse:collapse"></td></tr>
            </tbody></table>
            <div style="font-size:12px;color:#d9fffd">   
                <div class="header-content">Awesome templated email with <a href="https://github.com/slok/django-fancymail"  style="font-weight:bold;color:#d9fffd;text-decoration:none">Fancymail</a></div>
            </div>
            <table width="350" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="border-collapse:collapse"><td width="350" height="8" style="border-collapse:collapse"></td></tr>
            </tbody></table>
        </td>
        <td width="30" style="border-collapse:collapse"></td>
        <td width="255" valign="middle" align="right" style="border-collapse:collapse">
            <table width="255" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="border-collapse:collapse"><td width="255" height="8" style="border-collapse:collapse"></td></tr>
            </tbody></table>
            <table cellpadding="0" cellspacing="0" border="0">
    <tbody><tr style="border-collapse:collapse">

       
    </tr>
</tbody></table>
            <table width="255" cellpadding="0" cellspacing="0" border="0">
                <tbody><tr style="border-collapse:collapse"><td width="255" height="8" style="border-collapse:collapse"></td></tr>
            </tbody></table>
        </td>
        <td width="15" style="border-collapse:collapse"></td>
    </tr>
</tbody></table>

                    </td>
                </tr>
                <tr style="border-collapse:collapse">
                <td width="640" align="center" bgcolor="#425470" style="border-collapse:collapse">

    <table width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr style="border-collapse:collapse"><td width="30" style="border-collapse:collapse"></td><td width="580" height="30" style="border-collapse:collapse"></td><td width="30" style="border-collapse:collapse"></td></tr>
        <tr style="border-collapse:collapse">
            <td width="30" style="border-collapse:collapse"></td>
            <td width="580" style="border-collapse:collapse"><div align="center"><p style="color:#d9fffd;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;font-size:36px;text-align:center;margin-top:0px;margin-bottom:30px"><strong>
                Hello {{user}}!!
            </strong></p></div></td>
            <td width="30" style="border-collapse:collapse"></td>
        </tr>
    </tbody></table>


</td>
                </tr>

                <tr style="border-collapse:collapse"><td width="640" height="30" bgcolor="#ffffff" style="border-collapse:collapse"></td></tr>
                <tr style="border-collapse:collapse"><td width="640" bgcolor="#ffffff" style="border-collapse:collapse">
    <table width="640" cellpadding="0" cellspacing="0" border="0">
        <tbody><tr style="border-collapse:collapse">
            <td width="30" style="border-collapse:collapse"></td>
            <td width="580" style="border-collapse:collapse">

                        <table width="580" cellpadding="0" cellspacing="0" border="0">
                            <tbody><tr style="border-collapse:collapse">
                                <td width="580" style="border-collapse:collapse">
                                    <p align="left" style="font-size:18px;line-height:24px;color:#c25130;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">Description</p>
                                    <div align="left" style="font-size:13px;line-height:18px;color:#444444;margin-top:0px;margin-bottom:18px;font-family:Helvetica Neue,Arial,Helvetica,Geneva,sans-serif">
                                    <p style="margin-bottom:15px">

                                    This is a sample template email from <a href="https://github.com/slok/django-fancymail"  style="font-weight:bold;color:#c25130;text-decoration:none">Django fancymail</a>.

                                    Fancy mail is a Django app to help managing your templated emails. The aim of this app is to be simple and to reuse all the stuff that Django gives us, like the email classes that works perfect (Thank you Django). There are alternatives like <a href="https://github.com/bradwhittington/django-templated-email"  style="font-weight:bold;color:#c25130;text-decoration:none"> Django templated mail</a>. But this app has many options, like backends, template renderers...

                                    Fancy mail is more simple, you say where is the html template, what are the variables to use (context) and the text template (this is optional) and we are done!
                                    </p>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-collapse:collapse"><td width="580" height="10" style="border-collapse:collapse"></td></tr>
                        </tbody></table>

            </td>
            <td width="30" style="border-collapse:collapse"></td>
        </tr>
    </tbody></table>
</td></tr>
                <tr style="border-collapse:collapse"><td width="640" height="15" bgcolor="#ffffff" style="border-collapse:collapse"></td></tr>

                <tr style="border-collapse:collapse">
                <td width="640" style="border-collapse:collapse">
{% endblock body %}
